/* .skr{
    color:aqua;
    background-color:chartreuse;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.shekhar{
    color:aquamarine;
    background-color: chocolate;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
} */
 *{
    margin: 0;
    padding: 0;
    text-align: center;
 }
 h1{
    background-color: black;
    color: aqua;
    height:5rem;
    line-height: 5rem;
 }
 .choice{
    height:165px;
    width: 165px;
 }
 .choice:hover{
    cursor:pointer;
    background-color: black;
 }
 img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
 }
 .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin:3rem;
 }
 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:3rem;
 }
 #user-score,
 #computer-score{
    font-size: 4rem;
 }
 .msgcontainer{
    margin: 4rem;
 }
 #msg{
    color:aliceblue;
    background-color: black;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius:1rem;

 }